<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Produto</title>
    <link rel="stylesheet" type="text/css" href="/estilo.css">
</head>
<body class="body-style">
    <div class="container-style">
        <h1 class="title">Adicionar Produto</h1>
        <form class="course-form" action="/add-produto" method="post">
            <div class="form-group">
                <label class="form-label">Nome:</label>
                <input class="form-input" type="TEXT" name="nome" placeholder="Nome">
            </div>
            <div class="form-group">
                <label class="form-label">Preco:</label>
                <input class="form-input" type="number" name="preco" placeholder="Preco">
            </div>
            <div class="form-group">
                <label class="form-label">Quantidade:</label>
                <input class="form-input" type="number" name="quantidade" placeholder="quantidade">
            </div>
            <div class="form-group">
                <label class="form-label">Tamanho:</label>
                <input class="form-input" type="number" name="tamanho" placeholder="Tamanho">
            </div>
            <div class="form-group">
                <button type="submit" class="submit-button">Adicionar</button>
            </div>
        </form>
    </div>
</body>
</html>
