<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/estilo.css">
</head>
<body class="body-style">
    <div class="container">
        <h1 class="login-title">Login</h1>
        <form action="/login" method="post" class="login-form">
            <input type="text" name="email" placeholder="Email" class="input-field">
            <input type="password" name="password" placeholder="Password" class="input-field">
            <button type="submit" class="login-button">Login</button>
        </form>
    </div>
</body>
</html>
